graft python
graft util
graft lm
graft cmake
graft third_party
include setup.py
include CMakeLists.txt
include pyproject.toml
include BUILDING
include README.md
include LICENSE
include COPYING
include COPYING.3
include COPYING.LESSER.3
global-exclude *.pyc *.pyo
